* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow-y: scroll;
}

a {
  color: black;
}

.header {
  height: 75px;
  background-color: white;
}

.container {
  margin: 10px auto 0px;
  width: 1000px;
  background-color: white;
}

.container::after {
  content:'';
  display: block;
  clear: both;
}

.main {
  float: left;
  width: 70%;
}

.sidebar {
  margin-left: 70%;
}

.footer {
  margin-left: 70%;
}

