* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 75px;
}

.container {
  margin: 10px auto 0px;
  width: 1000px;
}

.main {
  float: left;
  width: 70%;
}

.sidebar {
  margin-left: 70%;
}

.footer {
  margin-left: 70%;
}
