<!DOCTYPE html>
<html>
<head>
	<title>Components</title>
</head>
<body>

<!-- header -->
<div class="logo">
  <h2>Instagram</h2>
</div>

<div class="search">
  <input type="text" name="search" placeholder="Search" />
</div>

<div class="icon">
  <a href="#"><i class="fas fa-home"></i></a>
  <a href="#"><i class="far fa-compass"></i></a>
  <a href="#"><i class="far fa-heart"></i></a>
  <a href="#"><img src="./images/user.png" /></a>
</div>

<!-- main -->
<div class="article">
  <div class="article-header">
    <a href="#"><img src="./images/user.png" /></a>
    <h3>raambo</h3>
    <a href="#"><i class="fas fa-ellipsis-h"></i></a>
  </div>
  <div class="article-main">
    <img src="./images/user.png" />
    <div class="article-icons">
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </div>
    <div class="article-comments">
      <a href="#">user-name</a>
      <p>comment</p>
      <a href="#"><i class="far fa-heart"></i></a>
    </div>
    <div class="post-comments">
      <input type="text" name="comment" placeholder="Post" />
    </div>
  </div>
</div>

<!-- sidebar -->
<div class="user-info">
  <a href="#"><img src="./images/user.png" /></a>
  <a href="#">user-name</a>
</div>

<div class="total-stories">
  <div class="title-header">
    <p>Story</p>
    <p>See all</p>
  </div>
  <div class="story">
    <a href="#"><img src="./images/user.png" /></a>
    <div class="info">
      <h4>user-name</h4>
      <p>16 hours ago</p>  
    </div>
  </div>
</div>

<div class="suggestions">
  <div class="user-suggestion">
    <a href="#"><img src="./images/user.png" /></a>
    <div class="info">
      <h4>user-name</h4>
      <p>16 hours ago</p>  
    </div>
    <a href="#">Follow</a>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
</body>
</html>